.container {
  width: 100%;
  height: 89vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .inner-div {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-container {
    text-align: center;
    color: white;
    font-size: 32px;
    width: 500px;
    display: flex;
    flex-direction: column;

    .name-introduction {
      font-size: 32px;
      font-weight: 600;
      color: #dbef02;
      letter-spacing: 0.5px;
    }
  }

  .button_container {
    padding: 10px;
    display: flex;
    gap: 20px;

    button {
      padding: 15px 30px;
      font-size: 20px;
      font-weight: 700;
      border-radius: 2rem;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-2px);
        background-color: #dbef02;
        color: black;
      }

      &:nth-of-type(1) {
        background-color: #dbef02;
        color: #001f3f;

        &:hover {
          background: #001f3f;
          color: white;
          border: 1px solid #dbef02;
        }
      }

      &:nth-of-type(2) {
        background-color: transparent;
        border: 2px solid #dbef02;
        color: #dbef02;

        &:hover {
          background: #dbef02;
          color: #001f3f;
          border: 1px solid;
        }
      }
    }
  }

  // Media Queries
  @media (min-width: 360px) and (max-width: 600px) {
    .text-container {
      width: 90%;
      margin-top: 10px;
    }

    .button_container button {
      padding: 20px;
      border-radius: 1.2rem;
    }

    .inner-div{
      margin-top: 80px;
    }

    .text-container {
      text-align: center;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    // Optional: Add overrides specific to tablets here
  }
}
