@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: #001f3f;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

.app_wrapper {
  height: 100vh;
}

.snap_container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

    scrollbar-width: none; 
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    display: none;
  }
}

.snap_section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}
